.panel-container {
  border: 2px solid rgba(0,0,0,0.3);
  top: 90px;
  border-radius: 5px;
  position: absolute;
  right: 20px;
  height: 600px;
  width: 400px;
  background: orange;
  z-index: 1000;

}

.tab-selection-container {
  display: flex;
  justify-content: space-evenly;
  height: 60px;
  /* background: rgba(0,0,0,0.5); */
  /* border: 1px solid orange; */
}

.tab-selection-container .action-tab {
  width: 90px;
  display: inline-block;
  height: 60px;
  background: white;
  border-bottom: 2px solid blue;
  font-size: 20px;
  text-align: center;
  padding: 10px 0 10px 0;
}

.draw .draw-tab {
  border-bottom: 0px;
}
.buy .buy-tab {
  border-bottom: 0px;
}
.rent .rent-tab {
  border-bottom: 0px;
}
.manage .manage-tab {
  border-bottom: 0px;
}

.current-displayed-action {
  height: 530px;
}

.current-displayed-action .action-container {
  background: yellow;
  height: 100%;
}


/* SELECTED PIXELS */

.selected-pixels-container {
  border: 1px solid black;
  margin: 5px;
  padding: 5px;
  min-height: 30px;
  max-height: 80px;
  width: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.selected-pixels-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.selected-pixels-container::-webkit-scrollbar {
	width: 12px;
	background-color: #F5F5F5;
}

.selected-pixels-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}


/* COMMENT AND LINK FIELD */

.comment-link-field input {
  display: block;
  padding: 5px;
  margin: 5px;
}

.action-button {
  margin: 0 auto;
  width: 100px;
  text-align: center;
  border: 1px solid black;
  padding: 10px;
  background: lightblue;
  border-radius: 5px;
}
